pkgbase = obs-studio
	pkgdesc = Free and open source software for video recording and live streaming
	pkgver = 32.0.3
	pkgrel = 1
	epoch = 1
	url = https://obsproject.com
	arch = x86_64
	license = GPL-2.0-only
	makedepends = extra-cmake-modules
	makedepends = ffnvcodec-headers
	makedepends = nlohmann-json
	makedepends = simde
	makedepends = uthash
	makedepends = vulkan-headers
	makedepends = ninja
	depends = ffmpeg
	depends = pipewire
	depends = rnnoise
	depends = pciutils
	depends = mbedtls
	depends = qt6-svg
	depends = libxkbcommon
	source = obs-studio-32.0.3.tar.gz::https://github.com/obsproject/obs-studio/releases/download/32.0.3/OBS-Studio-32.0.3-Sources.tar.gz
	source = fixqt6.patch::https://patch-diff.githubusercontent.com/raw/obsproject/obs-studio/pull/12328.patch
	sha256sums = 583c8b47d3accb4a48b9966ac7e2f1c96501a7fb3d57dd4454cdaa4df4c01e7f
	sha256sums = 25322c692cf5cc88fc7d17cbb40a61b7e32d5ea675da647dd1a1996474ec2c8e

pkgname = obs-studio
