pkgbase = obs-studio
	pkgdesc = Free and open source software for video recording and live streaming
	pkgver = 32.0.2
	pkgrel = 2
	url = https://obsproject.com
	arch = x86_64
	license = GPL2
	makedepends = extra-cmake-modules
	makedepends = ffnvcodec-headers
	makedepends = nlohmann-json
	makedepends = simde
	makedepends = uthash
	makedepends = vulkan-headers
	depends = ffmpeg
	depends = pipewire
	depends = rnnoise
	depends = libxcomposite
	depends = libxinerama
	depends = libxkbcommon-x11
	depends = libdatachannel
	depends = pciutils
	depends = mbedtls
	depends = qt6-svg
	optdepends = v4l2loopback-dkms: virtual camera support
	source = obs-studio-32.0.2.tar.gz::https://github.com/obsproject/obs-studio/releases/download/32.0.2/OBS-Studio-32.0.2-Sources.tar.gz
	source = https://patch-diff.githubusercontent.com/raw/obsproject/obs-studio/pull/12328.patch
	sha256sums = 48d744037c553eea8f9b76bf46f6dcac753e52871f49b2c1a2580757f723a1b7
	sha256sums = 25322c692cf5cc88fc7d17cbb40a61b7e32d5ea675da647dd1a1996474ec2c8e

pkgname = obs-studio
