pkgbase = obs-studio
	pkgdesc = Free and open source software for video recording and live streaming
	pkgver = 32.0.2
	pkgrel = 1
	epoch = 1
	url = https://obsproject.com
	arch = x86_64
	license = GPL-2.0-only
	makedepends = extra-cmake-modules
	makedepends = ffnvcodec-headers
	makedepends = nlohmann-json
	makedepends = simde
	makedepends = uthash
	makedepends = vulkan-headers
	makedepends = clang
	makedepends = lld
	depends = ffmpeg
	depends = pipewire
	depends = rnnoise
	depends = libxcomposite
	depends = libxinerama
	depends = libxkbcommon-x11
	depends = pciutils
	depends = mbedtls
	depends = qt6-svg
	optdepends = v4l2loopback-dkms: virtual camera support
	source = https://github.com/obsproject/obs-studio/archive/32.0.2/obs-studio-32.0.2.tar.gz
	source = https://patch-diff.githubusercontent.com/raw/obsproject/obs-studio/pull/12328.patch
	sha256sums = 39e99b9fbdc77e7e87cfd9c7e8709d1d427627bad5b21b791019c887c8598d13
	sha256sums = 25322c692cf5cc88fc7d17cbb40a61b7e32d5ea675da647dd1a1996474ec2c8e

pkgname = obs-studio
