pkgbase = onlyoffice
	pkgdesc = An office suite that combines text, spreadsheet and presentation editors
	pkgver = 9.1.0
	pkgrel = 1
	url = https://www.onlyoffice.com/
	arch = x86_64
	license = AGPL-3.0-only
	depends = curl
	depends = gtk3
	depends = gstreamer
	depends = gst-plugins-base-libs
	depends = libxss
	depends = nss
	depends = nspr
	depends = desktop-file-utils
	depends = hicolor-icon-theme
	optdepends = gst-plugins-good: for better video playback support
	optdepends = gst-libav: for additional multimedia codecs
	optdepends = libpulse: for audio playback support
	optdepends = alsa-lib: for audio output via ALSA
	optdepends = otf-takao: for Japanese fonts
	optdepends = ttf-ms-fonts: for Microsoft fonts
	optdepends = libreoffice: for OpenSymbol fonts
	provides = onlyoffice=9.1.0
	conflicts = onlyoffice
	noextract = onlyoffice-desktopeditors-x86_64-9.1.0.deb
	options = !strip
	options = !emptydirs
	source = onlyoffice-desktopeditors-x86_64-9.1.0.deb::https://github.com/ONLYOFFICE/DesktopEditors/releases/download/v9.1.0/onlyoffice-desktopeditors_amd64.deb
	source = onlyoffice.svg
	sha256sums = 0f7e84ee16024c9f4bc3d5e707c9f13063090c946133e2be6ef8ae33dbaece19
	sha256sums = 0efe15ee5ae7c01fd5cb3198bc849371ebc12ce48e0e595118724b182c765ec6

pkgname = onlyoffice
