pkgbase = plasma-login-manager
	pkgdesc = Plasma Login Manager
	pkgver = 6.5.git20251030
	pkgrel = 1
	url = https://kde.org/plasma-desktop/
	arch = x86_64
	license = GPL-2.0-or-later
	makedepends = extra-cmake-modules
	makedepends = git
	depends = gcc-libs
	depends = glibc
	depends = kauth
	depends = kcmutils
	depends = kconfig
	depends = kcoreaddons
	depends = kdbusaddons
	depends = ki18n
	depends = kio
	depends = kirigami
	depends = kpackage
	depends = kservice
	depends = kwindowsystem
	depends = layer-shell-qt
	depends = libplasma
	depends = libxau
	depends = pam
	depends = plasma-workspace
	depends = qt6-base
	depends = qt6-declarative
	depends = sh
	depends = systemd-libs
	source = git+https://invent.kde.org/plasma/plasma-login-manager#commit=4e4a6f0e89d11b4002e01ddb87404eeac2faf8ae
	source = plasmalogin
	source = plasmalogin-greeter
	source = plasmalogin-autologin
	sha256sums = c952d9c48268c700c8b071157791acce00b7f2a37081886c961935f8276f29dd
	sha256sums = f347d0fbf9f093c5ca933d28a73b9030eff3054d7ced6ed436fb96156452655b
	sha256sums = 3fb9a8adce255d37d21a5f596ba8c7456d0a6507406f6363267ff8e891551eb6
	sha256sums = cedd4c8cc468388835c30c4c6c42de9717ce7211339e2c58de4baf3b2c2142ab

pkgname = plasma-login-manager
