pkgbase = firefox
	pkgdesc = Fast, Private & Safe Web Browser
	pkgver = 144.0.2
	pkgrel = 2
	url = https://www.mozilla.org/firefox/
	arch = x86_64
	license = MPL-2.0
	makedepends = cbindgen
	makedepends = clang
	makedepends = diffutils
	makedepends = lld
	makedepends = llvm
	makedepends = mesa
	makedepends = nasm
	makedepends = nodejs
	makedepends = onnxruntime
	makedepends = python
	makedepends = rust
	makedepends = unzip
	makedepends = yasm
	makedepends = zip
	depends = alsa-lib
	depends = at-spi2-core
	depends = bash
	depends = cairo
	depends = dbus
	depends = ffmpeg
	depends = fontconfig
	depends = freetype2
	depends = gcc-libs
	depends = gdk-pixbuf2
	depends = glib2
	depends = glibc
	depends = gtk3
	depends = hicolor-icon-theme
	depends = libpulse
	depends = libx11
	depends = libxcb
	depends = libxcomposite
	depends = libxdamage
	depends = libxext
	depends = libxfixes
	depends = libxrandr
	depends = libxss
	depends = mime-types
	depends = nspr
	depends = nss
	depends = pango
	depends = ttf-font
	optdepends = hunspell-en_US: Spell checking, American English
	optdepends = libnotify: Notification integration
	optdepends = networkmanager: Location detection via WiFi
	optdepends = onnxruntime: Smart tab groups
	optdepends = speech-dispatcher: Text-to-Speech
	optdepends = xdg-desktop-portal: Screensharing with Wayland
	options = !emptydirs
	options = !lto
	options = !makeflags
	source = https://archive.mozilla.org/pub/firefox/releases/144.0.2/source/firefox-144.0.2.source.tar.xz
	source = firefox-symbolic.svg
	source = firefox.desktop
	source = 0001-Install-under-remoting-name.patch
	source = ffmpeg8-fix.patch
	validpgpkeys = 14F26682D0916CDD81E37B6D61B7B526D98F0353
	sha256sums = eac4722ed259008d73006c4894c18d2871702c661d14e27505812351df62806b
	sha256sums = a9b8b4a0a1f4a7b4af77d5fc70c2686d624038909263c795ecc81e0aec7711e9
	sha256sums = 71fe797430198ac8c00b538dce537284cf526e48be0496698cf5a980d70c16da
	sha256sums = ef63a12975f108f30b00bb3290d9ca76f311d8af9c1d5dfc0d8335ad57e8f77c
	sha256sums = 968bcc10eb6ddf58e27f957ac3cf95b175e3fed5e91c25e915c6682d3f1471b1

pkgname = firefox
