pkgbase = firefox
	pkgdesc = Fast, Private & Safe Web Browser
	pkgver = 145.0.1
	pkgrel = 1
	epoch = 1
	url = https://www.mozilla.org/firefox/
	arch = x86_64
	license = MPL-2.0
	makedepends = cbindgen
	makedepends = clang
	makedepends = diffutils
	makedepends = lld
	makedepends = llvm
	makedepends = mesa
	makedepends = nasm
	makedepends = nodejs
	makedepends = python
	makedepends = rust
	makedepends = unzip
	makedepends = yasm
	makedepends = zip
	depends = alsa-lib
	depends = at-spi2-core
	depends = gcc-libs
	depends = bash
	depends = cairo
	depends = dbus
	depends = ffmpeg
	depends = fontconfig
	depends = freetype2
	depends = gdk-pixbuf2
	depends = glib2
	depends = glibc
	depends = gtk3
	depends = hicolor-icon-theme
	depends = libpulse
	depends = libx11
	depends = libxcb
	depends = libxcomposite
	depends = libxdamage
	depends = libxext
	depends = libxfixes
	depends = libxrandr
	depends = libxss
	depends = libxt
	depends = mime-types
	depends = nspr
	depends = nss
	depends = pango
	depends = ttf-font
	optdepends = libnotify: Notification integration
	optdepends = networkmanager: Location detection via available WiFi networks
	optdepends = xdg-desktop-portal: Screensharing with Wayland
	options = !emptydirs
	options = !lto
	options = !makeflags
	source = https://archive.mozilla.org/pub/firefox/releases/145.0.1/source/firefox-145.0.1.source.tar.xz
	source = ru.xpi::https://archive.mozilla.org/pub/firefox/releases/145.0.1/linux-x86_64/xpi/ru.xpi
	source = firefox-symbolic.svg
	source = firefox.desktop
	source = ffmpeg8-fix.patch
	source = Install-under-remoting-name.patch
	validpgpkeys = 14F26682D0916CDD81E37B6D61B7B526D98F0353
	sha256sums = b48115bd304ff0169fefc488226caf4053e04cc2aa83b1a9f4ac85fbaa9ff457
	sha256sums = 18588f1fba5cc40f86e71a63a48aab85bdb6d07999d63597959ed36a060b135d
	sha256sums = a9b8b4a0a1f4a7b4af77d5fc70c2686d624038909263c795ecc81e0aec7711e9
	sha256sums = 381a0bb236513a48596fcd17115629b19c5d862ce845144c7dfb61cd8903b1b8
	sha256sums = 2b39e1e1efa845aac680db85e409cd07765e7d8f2346cbb957048f08dfa13daf
	sha256sums = ef63a12975f108f30b00bb3290d9ca76f311d8af9c1d5dfc0d8335ad57e8f77c

pkgname = firefox
